@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-chat::-webkit-scrollbar {
    width: 4px;
}
.side-nav::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0066a5;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ce0854ad;
}
